<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="save($event)"
    class="text-center border border-light p-5"
  >
    <p class="h4 mb-4">Register Book</p>
    <div class="form-row mb-12">
      <div class="row">
        <input
          type="text"
          formControlName="title"
          class="form-control mb-4"
          placeholder="Title"
        />
      </div>
      <div class="row">
        <input
          type="text"
          formControlName="subject"
          class="form-control mb-4"
          placeholder="Subject"
        />
      </div>
      <div class="row">
        <div class="col">
          <input
            type="text"
            formControlName="author"
            class="form-control mb-4"
            placeholder="Author"
          />
        </div>
        <div class="col">
          <input
            type="date"
            formControlName="publishingDate"
            class="form-control mb-4"
            placeholder="Publishing Date"
          />
        </div>
      </div>
      <div class="row">
        <input
          type="text"
          formControlName="Publisher"
          class="form-control mb-4"
          placeholder="Publisher"
        />

        <input
          type="text"
          formControlName="publisherPhone"
          class="form-control mb-4"
          placeholder="publisher Phone"
        />
      </div>
      <div class="row">
      <input
        type="email"
        formControlName="publisheremail"
        class="form-control mb-4"
        placeholder="publisher Email"
      />
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
  </form>
</div>
